* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 24, 75, 0.904);
}

.clear-grid-container {
    padding: 20px;
}

.clear-grid-container button {
    padding: 5px;
}

.canvas-container {
    height: 350px;
    width: 350px;
    border: 1.5px solid green;
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px rgb(132, 0, 255),
      0 0 10px rgb(132, 0, 255),
      0 0 10px rgb(132, 0, 255),
      0 0 10px rgb(132, 0, 255),
      0 0 10px rgb(73, 1, 141);
    display: grid;
    grid-template-columns: repeat(var(--grid-rows), auto);
    grid-template-rows: repeat(var(--grid-cols), auto);
}

.canvas-size {
    padding: 20px;
}

.brush-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.brush-buttons button {
    width: 80px;
    height: 55px;
    gap: 20px;
    border-radius: 3px;
}


#newGrid {
    border: 1px solid;
    height: auto;
    width: auto;
    background-color: #fff;
}

#black:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-color: black;
    color: white;
}

#teal:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-color: teal;
}

#green:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-color: green;
}

#pink:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-color: pink;
}

#rainbow:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#eraser:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-color: rgb(88, 88, 88);
}

#toggle {
    padding: 5px;
    background-color:rgb(88, 88, 88)
}
