* {
    margin: 0;
    padding: 0;
}

body {
    max-height: 100vh;
    width: 100vw;
    background-color: #cdf3fa;
    overflow-x: hidden;

}

.header {
    width: 100%;
    background-color: #05445E;
    text-align: center;
    padding: 10px;
}

.clear-grid-container {
    margin: 5px 0 10px 0;
    display: flex;
    justify-content: center;
  
}

.clear-grid-container button {
    padding: 5px;
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
}

.canvas-container {
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(var(--grid-rows), auto);
    grid-template-rows: repeat(var(--grid-cols), auto);
    border-radius: 2px;
    border: 2px solid #05445E;
}

.canvas-size {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.brush-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    text-align: center;
}

button {
    border-radius: 5px;
    border: 2px solid white;
    background-color: #05445E;
    color: white;
}

.brush-buttons button {
    width: 80px;
    height: 40px;
    gap: 20px;
    border-radius: 5px;
}

.black:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-color: black;
    color: white;
}

.teal:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-color: teal;
    color: white;
}

.eraser:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-color: white;
    color: black;
}
.rainbow:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #05445E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    font-size: 10px;
    padding: 5px;
}

.footer-images {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;

}

.footer-images img {
    height: 20px;
    width: 20px;
}

#newGrid {
    border: 1px solid;
    height: auto;
    width: auto;
    background-color: #fff;
}


